@import "tailwindcss";
@import "./fonts.css";

@layer base {
  body {
    background: linear-gradient(135deg, #e0f7fa 0%, #a7ffeb 100%);
    min-height: 100vh;
    direction: rtl;
    font-family: "PeydaWebFaNum";
    color: var(--foreground);
    background: var(--background);
    width: 100%;
  }
}
